!!!
%html
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ "http-equiv" => "Cache-Control", content: "no-cache" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1" }

    %title
      Lightning Talks Calendar

    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js" }
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js" }
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" }

  %body
    .events
      This is where some events will go

    #calendar

    %script{ src: "javascript/calendar.js" }
